* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 50px;
  background: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 960px;
  width: 960px;
  overflow: hidden;
  background-color: #000;
}

.btn {
  height: 50px;
  width: 100px;
  margin-top: 50px;
}

.square-black {
  background: #000;
}

.square-white {
  background: #fff;
}
